<!DOCTYPE html>


{% if user.is_authenticated %}

    {% load static %}

    <html lang="pt-br">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Copa Russia</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Bootstrap core CSS -->
{#        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">#}

        <!-- Custom styles for this template -->
        <link href="{% static 'css/4-col-portfolio.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

    </head>

    <body style="background-color: #fcfcfc">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:home' %}">Bolão Copa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'core:home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:grupo' %}">Grupos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:minha_aposta' %}">Minhas Apostas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contato</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuario:logout' %}">Sair</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.username }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <br>

        <div class="row">
            <div class="col-lg">

                {% block content %}
                {% endblock content%}
            </div>
        </div>
        <!-- /.row -->
        <br>

        {#    <!-- Pagination -->#}
        {#    <ul class="pagination justify-content-center">#}
        {#        <li class="page-item">#}
        {#            <a class="page-link" href="#" aria-label="Previous">#}
        {#                <span aria-hidden="true">&laquo;</span>#}
        {#                <span class="sr-only">Previous</span>#}
        {#            </a>#}
        {#        </li>#}
        {#        <li class="page-item">#}
        {#            <a class="page-link" href="#">1</a>#}
        {#        </li>#}
        {#        <li class="page-item">#}
        {#            <a class="page-link" href="#">2</a>#}
        {#        </li>#}
        {#        <li class="page-item">#}
        {#            <a class="page-link" href="#">3</a>#}
        {#        </li>#}
        {#        <li class="page-item">#}
        {#            <a class="page-link" href="#" aria-label="Next">#}
        {#                <span aria-hidden="true">&raquo;</span>#}
        {#                <span class="sr-only">Next</span>#}
        {#            </a>#}
        {#        </li>#}
        {#    </ul>#}

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </body>

    </html>


{% endif %}