{% extends 'core/base.html' %}


{% block content %}

    <h1 class="my-4">Grupos</h1>

    <div class="row">
        {% for grupo in grupo_a %}


            <div class="col-lg">
                <div class="panel panel-default">
                    {% for gr in grupo|slice:":1" %}
                        <div class="panel-heading">

                            Grupo {{ gr.grupo }}

                        </div>
                    {% endfor %}
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-success">
                                <thead class="bg-info">
                                <tr>
                                    <th>Seleção</th>
                                    <th>Sigla</th>
                                    <th>Dados</th>
                                </tr>
                                </thead>
                                {% for gr in grupo %}
                                    <tbody>

                                    <tr>
                                        <td>{{ gr.nome }}</td>
                                        <td>{{ gr.sigla }}</td>
                                        <td>{{ gr.slug }}</td>
                                    </tr>

                                    </tbody>

                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>

                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        {% endfor %}

    </div>

{% endblock content %}
